body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ece5dd;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  height: 60px;
  background: #075e54;
  color: white;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 18px;
  font-weight: bold;
}

figure {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
}

figure > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* CHAT LISTA MESSAGGI */
.chat-container {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background: url("imgs/background.jpg");
}

.message {
  max-width: 75%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  white-space: pre-wrap;
}

.me {
  background: #dcf8c6;
  align-self: flex-end;
  margin-left: auto;
}

.bot {
  background: white;
  align-self: flex-start;
  margin-right: auto;
}

/* INPUT BAR */
.input-bar {
  height: 60px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;
  border-top: 1px solid #ccc;
}

#question {
  flex: 1;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: #f0f0f0;
  outline: none;
  font-size: 16px;
}

#sendBtn {
  background: #128c7e;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
}
